* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family:sans-serif;
    background-color: rgb(19, 18, 18);
    color: white;
    margin-top: 10px;
    line-height: 1.1;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;

}

.logo h1 {
    font-size: 1.3rem;
    padding-left: 120px; 
    color: rgb(223, 223, 223);
}

nav.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav.navbar ul li {
    font-size: 1rem;
}

.right_nav {
    margin-right: 120px;
    padding: 0px;
}